# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Packaging / build
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtualenv
.venv/

# Env files
.env
.env.*
!.env.example
!**/.env.example

# Django
db.sqlite3

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Type check / lint
.mypy_cache/
.ruff_cache/

# OS / IDE
.DS_Store
.idea/
.vscode/
